<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ori02</key>
	<string>{ &quot;intValue&quot;:&quot;www&quot;, &quot;stringValue&quot;:123, &quot;mModel&quot;:[{&quot;name&quot;:&quot;myName&quot;}]}</string>
	<key>Ori01</key>
	<string>{ &quot;intValue&quot;:100, &quot;stringValue&quot;:&quot;string123&quot;,&quot;boolValue&quot;: true, &quot;mModel&quot;:[{&quot;name&quot;:&quot;myName&quot;}]}</string>
</dict>
</plist>
