<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>controllerName</key>
			<string>TableTimerViewController</string>
			<key>title</key>
			<string>TableTimerDemo</string>
		</dict>
		<dict>
			<key>controllerName</key>
			<string>NSOperationQueueViewController</string>
			<key>title</key>
			<string>OperationQueueDemo</string>
		</dict>
		<dict>
			<key>controllerName</key>
			<string>IPController</string>
			<key>title</key>
			<string>IPDemo</string>
		</dict>
		<dict>
			<key>controllerName</key>
			<string>XMLParseController</string>
			<key>title</key>
			<string>XMLParse</string>
		</dict>
		<dict>
			<key>controllerName</key>
			<string>CustomAlertController</string>
			<key>title</key>
			<string>AlertView</string>
		</dict>
		<dict>
			<key>controllerName</key>
			<string>CustomKeyboardController</string>
			<key>title</key>
			<string>keyboardView</string>
		</dict>
	</array>
</array>
</plist>
